In [1]:
%load_ext sql

In [2]:
%sql sqlite:///movies.db

'Connected: @movies.db'

In [18]:
%%sql

DELETE FROM screenings;
DELETE FROM tickets;

INSERT INTO screenings
VALUES  ('19:00:00', '19-02-22', 2017, "The Shape of Water", "Kino"),
        ('19:00:00', '19-02-23', 2016, "Moonlight", "Skandia");

INSERT INTO tickets(user_name, screening_time, screening_date, theater_name)
VALUES  ("alice", '19:00:00', '19-02-22', "Kino"),
        ("alice", '19:00:00', '19-02-22', "Kino"),
        ("alice", '19:00:00', '19-02-23', "Skandia");

SELECT screening_date, screening_time, theater_name, movie_name, production_year
FROM tickets
LEFT OUTER JOIN screenings
USING (screening_time, screening_date, theater_name)
WHERE user_name = "alice"

 * sqlite:///movies.db
2 rows affected.
3 rows affected.
2 rows affected.
3 rows affected.
Done.

[('19-02-23', '19:00:00', 'Skandia', 'Moonlight', 2016)]