In [1]:
%load_ext sql

In [2]:
%sql sqlite:///movies.db

'Connected: @movies.db'

In [3]:
%%sql

SELECT *
FROM movies

 * sqlite:///movies.db
Done.

[('The Shape of Water', 2017, 135, 'tt5580390'),
 ('Moonlight', 2016, 111, 'tt4975722'),
 ('Spotlight', 2015, 135, 'tt1895587'),
 ('Birdman', 2014, 132, 'tt2562232')]